*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background:  linear-gradient(180deg, #2BA3FA 0%, rgba(76, 157, 216, 0) 99.98%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.calc-grid {
  display: grid;
  width: 600px;
  justify-content: center;
  align-content: center;
  margin: 30px auto;
  padding: 15px;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  gap: 10px;
  background: rgba(241, 215, 110, 0.9);
  border: 5px solid #FFFFFF;
  border-radius: 40px;
}

.calc-grid button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 3px solid #FFFFFF;
  outline: none;
  border-radius: 20px;
  background: rgba(171, 65, 242, 0.8);
  color: white;
}

.calc-grid button:hover {
  background: rgb(110, 32, 161);
}

.calc-grid button.number {
  background: rgba(242, 65, 136, 0.9);
}

.calc-grid button.number:hover {
  background: rgb(175, 34, 90);
}

.calc-grid button.operator {
  background: rgba(107, 217, 138, 0.9);
}

.calc-grid button.operator:hover {
  background: rgb(50, 156, 80);
}

.calc-grid button.equal {
  background: rgba(80, 159, 252, 0.9);
  border: 3px solid #FFFFFF;
}

.calc-grid button.equal:hover {
  background: rgb(43, 115, 197);
}

.output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  background: rgba(21, 22, 22, 0.95);
  border: 3px solid #FFFFFF;
  border-radius: 40px;
  padding: 10px 20px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.0rem;
}

.output .current-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
}